.actions-menu{
    .action-top, .action-bottom{
        width: 40px; height: 40px;
        position: absolute;
        right: 0px;
    }
    .action-top{
        top: 0;
        .fa-star, .fa-star-o{
            color: #FCC21B;
        }
        .fa-heart, .fa-heart-o{
            color: #d9534f;
        }
    }
    .action-bottom{
        bottom: 0;
        &.open{
            background: darkgrey;
            &.tall{
              transition: padding-top .3s, height .3s;
              padding-top: 40px;
              height: 80px;
            }
        }
        &:hover{
            background: lightgrey;
        }
        &:active{
            background: grey;
        }
    }
    .action-menu{
        height: 0px;
        width: 100%;
        visibility: hidden;
        cursor: default;
        overflow: hidden;
        padding: 0 20px;
        &.open {
            height: 40px;
            transition: height .3s;
            visibility: visible;
        }
        h6{width: auto; display: inline-block; line-height: 40px;
        font-weight: bold; text-transform: uppercase; letter-spacing: .02em;}
        .btn{
          float:right;
          margin-top: 3px;
        }
    }
}
