.actions-menu{
    .action-top, .action-bottom{
        width: 40px; height: 40px;
        position: absolute;
        right: 0px;
    }
    .action-top{
        top: 0;
        color: #FCC21B;
    }
    .action-bottom{
        bottom: 0;
        &.open{
            background: #ccc;
        }
    }
    .action-menu{
        height: 0px;
        width: 100%;
        visibility: hidden;
        cursor: default;
        &.open {
            height: 40px;
            transition: height .3s;
            visibility: visible;
        }
    }
}
