#settings{
    .dropdown-menu{
        margin-top: 6px;
        box-shadow: $shadow4;
        border: 0;
    }
    .dropdown-item{
        padding: 10px 20px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .dropdown-divider{
        margin: 5px 0px;
    }
    #logout:hover{
        background: white;
    }
}
