///
/// All styles for the Phone Input
///

.phoneInput{
  font-size: 36px;
  color: #55595c;
  input{
    width:60px;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    padding: 2px;
  }
  form > input:last-of-type{
    width: 80px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
}