.group-list{
    .card{
        cursor: pointer;
        position: relative;
        padding-right: 40px;
        min-height: 80px;
        &:hover{
          box-shadow: $shadow3;
        }
        &:active{
          box-shadow: $shadow2;
        }
    }
    .card-block{
        min-height: 28px;
    }
    .card:hover{
        border-color:#0275d8;
    }
    .card-header{
        padding: .75rem .75rem 0rem .75rem;
        h3{font-size: 22px; line-height:.9; font-weight: 600;}
        p{line-height: 8px;}
    }
}
