//
// Layout
//
//

.container {
    max-width: 720px;
}

label{
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02rem;
}

main .btn{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .02rem;
}

.group-list, .post-list, .comment-list{
    .card{border-radius: 0; background: #f5f5f5;}
    .card-header{
      border-bottom: 0;
      padding-bottom: 0;
    }
    .card-block{
        padding: .25rem .75rem 0;
    }
    .card-footer{
        border-top: 0;
        padding: .25rem .75rem;
        font-size:12px;
        letter-spacing: .02rem;
    }
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}