//
// Layout
//
//

header > nav{
  min-height: 52px;
}

.container {
    max-width: 720px;
}

label{
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02rem;
}