//
// Theme
//
//

body{
    background: $background;
}

main .btn, #logout .btn, .nav-tabs .nav-link{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .02rem;
}

.group-list, .post-list, .comment-list{
    .card{
      border-radius: 2px;
      border: 0;
      background: white;
      box-shadow: $shadow1;
      transition: box-shadow 0.2s ease-in-out;
      &:hover{
        box-shadow: $shadow3;
      }
      &:active{
        box-shadow: $shadow2;
      }
    }
    .card-header{
      border-bottom: 0;
      padding-bottom: 0;
      background: white;
    }
    .card-block{
        padding: .25rem .75rem 0;
    }
    .card-footer{
        border-top: 0;
        padding: .25rem .75rem;
        font-size:12px;
        letter-spacing: .02rem;
        background: white;
    }
}

.nav-tabs.nav-justified {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  .nav-item{
    display: inline-block;
    width: 50%;
    &:last-child{ width:48%; }
  }
}
