//
// Theme
//
//

body{
    background: $background;
}

main .btn, #logout .btn, .nav-tabs .nav-link{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .02rem;
}

.header-img{
  margin: -16px 0px 16px 0px;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

.card{
    border-radius: 2px;
    border: 0;
    background: white;
    box-shadow: $shadow1;
    transition: box-shadow 0.2s ease-in-out;
    .card-block{
        padding: .75rem;
    }
}

.group-list, .post-list, .comment-list{
    .card{
      min-height: 80px;
    }
    .photo{
        height: 50px; width: 50px;
        padding: 0 10px 10px 0;
        float: left;
    }
    .card-header{
      border-bottom: 0;
      padding-bottom: 0;
      background: white;
    }
    .card-block{
        padding: .25rem .75rem 0 0;
        .card-content{
            padding-left: .75rem;
        }
    }
    .card-footer{
        border-top: 0;
        padding: 0;
        background: white;
    }
    .action-menu{
        &.open:first-of-type{margin-top: 4px;}
        h6{
            color: rgba(255, 255, 255, .6);
        }
    }
}

.nav-tabs.nav-justified {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  .nav-item{
    display: inline-block;
    width: 50%;
    &:last-child{ width:48%; }
  }
}
