.app-header{
    .container{ position: relative; }
    @media (max-width:420px) {
        .container{
            padding-left: 0px;
            padding-right: 0px;
        }

    }
    #brand{
        font-family: "Museo",serif;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 24px;
        padding: .375rem .25rem;
        position: absolute;
        img{height:22px; width:22px; display: inline-block;}
        .btn:not(.navbar-brand){ font-weight: normal; }
    }
    #go_back{position: absolute;}
    #user_name, #group_name{
        font-size:18px;
        display: inline-block;
        color: white;
        line-height: 24px;
        padding: .375rem;
        width: 100%;
        text-align: center;
    }
    #settings{position:absolute; top:0; right:15px;
        .dropdown-toggle::after {content: none;}
    }
    @media (max-width:740px) {
        #settings{position:absolute; top:0; right:0;}
    }
}