.app-header{
    @media (max-width:420px) {
        .container{
            padding-left: 0px;
            padding-right: 0px;
        }

    }
    .navbar-brand{
        font-family: "Museo",serif;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 24px;
        padding: .375rem .25rem;
        img{height:22px; width:22px; display: inline-block;}
    }
}