.comment-list{
    .comment{min-height: 70px; position: relative;
        .comment-content{
            padding: .75rem 40px 0 .75rem;
        }
        .comment-text{
          min-height: 50px;
        }
        .comment-details{
            min-height: 20px;
            font-size: 12px;
            letter-spacing: .02rem;
        }
        .actions-menu{
          padding-right: 40px;
        }
    }
}
