//
// Edit Profile
//

.edit-profile{
    .form-group{
        .btn{
            display: inline-block;
            position: relative;
            top: -4px;
            left: 5px;
        }
    }
    .phone-input{
        width: auto;
        display: inline-block;
    }
}