.login-page{
    max-width:320px;
    .nav-tabs .nav-link:hover{background: white;}
    .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover {
        background: $background;
    }
    .nav-item{
        display: inline-block;
    }
    .nav-link{
        font-weight: bold;
        letter-spacing: .02rem;
    }
    .nav-link:not(.active){
        cursor: pointer;
    }
}

hr.or:before{
    content: 'or';
    display: block;
    text-align: center;
    width: 30px;
    margin: 0 auto;
    background: $background;
    position: relative;
    line-height: 14px;
    font-size: 14px;
    top: -8px;
    color: rgba(0, 0, 0, .4);
}