<!-- <div class="header-img">
  <img src="./images/coffeeshop.jpg" alt="coffeeshop">
</div> -->

<div class="container login-page">

<ul class="nav nav-tabs nav-justified m-b-1">
    <li class="nav-item" [routerLink]="['/Register']">
        <a class="nav-link">Get Started</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Login</a>
    </li>
</ul>

<form [ngFormModel]="login_form" (ngSubmit)="passwordLogin()">
    <fieldset class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" ngControl="username" minlength="4" maxlength="16" required>
    </fieldset>
    <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ngControl="password" minlength="6" maxlength="32" required>
    </fieldset>
    <button [disabled]="!login_form.valid" class="btn btn-lg btn-success btn-block m-t-1" type="submit">Enter</button>
</form>

<hr class="or m-y-2">

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-block btn-primary" (click)="facebookLogin()">
            <i *ngIf="!fb_loading" class="fa fa-lg fa-inverse fa-facebook"></i>
            <i *ngIf="fb_loading" class="fa fa-lg fa-spinner fa-inverse fa-spin"></i>
        </button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-block btn-danger" (click)="googleLogin()">
            <i *ngIf="!goog_loading" class="fa fa-lg fa-inverse fa-google"></i>
            <i *ngIf="goog_loading" class="fa fa-lg fa-spinner fa-inverse fa-spin"></i>
        </button>
    </div>
</div>

</div>
