.post-list{
    .card{
        cursor: pointer;
        position: relative;
    }
    .card-block{
        padding-top: .325rem;
        padding-right: 30px;
    }
    .fa-bullhorn{
        color: #d9534f;
        position: absolute;
        top: .325rem;
        right: .75rem;
    }
    .card:hover{
        border-color:#0275d8;
    }
    .card-header{
        padding: .75rem .75rem .5rem .75rem;
        h3{font-size: 22px; line-height:.9; font-weight: 600;}
        p{line-height: 8px;}
    }
}
