<section class="post-list">
<div id="{{post.id}}" class="card" *ngFor="#post of posts" [routerLink]="['/Post', {group_id: currentGroupID, post_id: post.id}]">
    <i *ngIf="post.isImportant" class="fa fa-sm fa-warning"></i>
    <div class="card-block">
        <p class="card-text">{{post.content}}, this is important {{post.isImportant}}</p>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-sm-6"><p class="m-b-0">{{post.author}}, 1 day ago</p></div>
            <div class="col-sm-6"><p class="post-meta m-b-0 text-sm-right">2 new comments</p></div>
        </div>
    </div>
</div>
</section>
