<section class="post-list">
<div id="{{post.id}}" class="card" *ngFor="#post of posts #index=index">
        <div class="card-block">
            <div class="card-content">
                <img class="photo" [src]="post.author.photo_url" />
                <p class="card-text">{{post.content}}</p>
                <div class="card-details row text-muted">
                    <div class="col-sm-6">
                        <p class="m-b-0"><i *ngIf="post.isImportant" class="fa fa-sm fa-bullhorn fa-flip-horizontal"></i> {{post.author.name}}, 1 day ago</p>
                    </div>
                    <div class="col-sm-6"><p class="m-b-0 text-sm-right">{{post.comments.length}} <i class="fa fa-comments"></i></p></div>
                </div>
            </div>
            <post-actions-menu [post]="post" [index]="index"></post-actions-menu>
        </div>
        <hr class="m-b-0 m-t-0">
        <div class="card-footer">
            <comment-list *ngIf="post.comments.length" [commentList]="post.comments"></comment-list>
            <add-comment [index]="index"></add-comment>
        </div>
</div>
</section>
